@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-decoration: none; 
}

.App {
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(
    30deg,
    rgb(8, 29, 39) 50%,
    rgb(11, 33, 48) 50%
  );
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: rgb(12, 41, 56);
  color: white;
}

.Header-img {
  width: 100px;
}

.Nav-links {
  
  width: 50%;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-inline: 10px;
  font-size: 25px;
  font-weight: bold;
  list-style: none;
  color: gold
}

.Nav-links ul li{
  margin-right: 15px;
  display: inline-block;
  width: auto;
  color: white;
  padding-left: 40px;
  }

  .home {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 650px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: -webkit-linear-gradient(
      30deg,
      rgb(8, 29, 39) 50%,
      rgb(11, 33, 48) 50%
    );
  }

  .home > div {
    flex: 1 1 150px;
    height: 500px;
  }


.home_images {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  height: 500px;
}

.home_image {
  object-fit: cover;
  display: flex;
  width: 50%;
  height: 70%;
}

.home_info {
  color: white;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-left: 15px;
}

.home_title {
  font-size: 55px;
  margin: 0;
  padding: 0;
}

.dogs_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}


.dog { 
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog img {
  height: fit-content;
  max-width: 400px;
  display: grid;
}

.info-section {
  height: 100vh;
}
